@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1F2937;
}

/* -------------------------------------------------------------- notify ------------------------------------------------------------ */

.msg_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify {
    position: fixed;
    top: 5px;
    background-color: rgb(166, 0, 255);
    height: 60px;
    max-width: 320px;
    border-radius: 18px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
    z-index: 2000;
}

.notify_come {
    animation: notification_come 0.3s ease-in-out forwards;
}

.notify_go {
    animation: notification_go 0.3s ease-in-out forwards;
}

@keyframes notification_come {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes notification_go {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-60px);
    }
}

/* -------------------------------------------------------------- notify ------------------------------------------------------------ */

header {
    width: 100%;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

nav div:first-child {
    margin-right: auto;
}

.logo {
    height: 120px;
    position: relative;
    top: 10px;
    left: -35px;
}

.materials-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

h2 {
    font-weight: bolder;
    font-size: 1.2rem;
}

header ion-icon {
    font-size: 35px;
    cursor: pointer;
}

header ion-icon:nth-child(1) {
    margin-right: 10px;
}

.hero1 {
    box-shadow: 0 3px 10px rgb(173, 173, 173);
    width: 95%;
    margin: 40px auto;
    border-radius: 13px;
    overflow: hidden;
}

.hero1 img {
    width: 100%;
    display: block;
}

main {
    padding: 0 6px;
}

.hero2 .classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 40px 0;
}

.class-9th,
.class-10th,
.class-12th {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 93%;
    border-radius: 10px;
}

.class-10th {
    border: 2px solid rgb(116, 194, 0);
    background-color: rgba(188, 255, 88, 0.519);
}

.class-9th {
    border: 2px solid rgb(184, 0, 163);
    background-color: rgba(225, 0, 199, 0.215);
}

.class-12th {
    border: 2px solid rgb(188, 194, 0);
    background-color: rgba(248, 255, 41, 0.442);
}

.money-materials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.free-materials,
.paid-materials {
    height: 130px;
    width: calc(93% - 10px);
    border-radius: 13px;
    display: flex;
    gap: 10px;
    padding: 10px 0 0 10px;
}

.money-materials p{
    font-size: 0.8rem;
}

.free-materials{
    border: 2px solid rgba(133, 222, 0, 0.308);
    background-color: rgba(203, 255, 124, 0.099);
}

.paid-materials{
    border: 2px solid rgba(252, 0, 223, 0.233);
    background-color: rgba(255, 154, 243, 0.193);
}

.welcome-note {
    padding: 10px 6px;
    width: calc(95% - 52px);
    border-radius: 13px;
    box-shadow: 0 3px 10px rgb(173, 173, 173);
    margin: 0 auto 30px auto;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding-left: 40px;
    position: relative;
    overflow: hidden;
    background-color: lavender;
    font-size: 0.8rem;
}

.welcome-note::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: rgb(0, 30, 255);
    height: 96%;
    width: 3px;
    border-radius: 50px;
}

.sidebar {
    background-color: blueviolet;
    position: fixed;
    top: 55px;
    right: 0;
    height: 100vh;
    width: 300px;
    color: white;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(0);
}


.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid rgb(125, 40, 204);
}

.h3sp {
    color: blue;
}

.doc-icon-1,
.doc-icon-2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.doc-icon-1{
    background-color: green;
}

.doc-icon-2{
    background-color: rgb(0, 0, 203);
}

.desc-materials {
  flex: 1;
  min-width: 0;
}

.free-materials h3{
    color: green;
}

.paid-materials h3{
    color: rgb(0, 0, 203);
}

.explore-free,
.explore-paid{
    font-size: 0.8rem;
    background-color: red;
    height: 30px;
    width: 130px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.explore-free{
    background-color: green;
}

.explore-paid{
    background-color: rgb(0, 0, 203);
}

footer{
    background-color: rgb(19 0 37);
    height: 300px;
    color: rgba(255, 255, 255, 0.577);
    padding: 10px;
}

.part-2{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

ul{
    list-style: none;
}

.contact-links{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.last-line{
    border-top: 1px solid rgba(255, 255, 255, 0.236);
    margin-top: 20px;
    font-size: 0.7rem;
    height: 30px;
    text-align: center;
}