<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_and_js/style.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="msg_wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <div id="notify" class="notify">
            <p>{{ msg }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    
    <header>
        <nav>
            <div>
                <h1>Edu Resources</h1>
            </div>
            <div><ion-icon name="person-circle-sharp"></ion-icon></div>
            <div id="toggleBtn"><ion-icon name="menu-outline"></ion-icon></div>
        </nav>
    </header>
    <main>
        <div class="hero1">
            <img src="static/images/file_00000000346c72088d6453c04bed1edc.png">
        </div>
        <div class="welcome-note">
            <p>👋 Welcome to Edu Resources!
                Dear Students,
                Edu Resources is your one-stop destination for quality academic materials. Here you'll find Detailed
                Notes, Short Notes, Cheat Sheets, Flashcards, Important Formulas, PYQs, and Exam-Oriented Questions
                designed to make learning easier and revision faster.
                Every resource is carefully organized to help you understand concepts clearly, save valuable time, and
                perform better in exams. No more endless searching across different websites—everything you need is
                available in one place.
                Whether you're preparing for school exams, boards, or competitive exams, Edu Resources is here to
                support your academic journey.
                Learn Smart. Revise Better. Score Higher. 📚✨</p>
        </div>
        <h2>Materials</h2>
        <div class="hero2">
            <div>
                <div>10th</div>
                <div>9th</div>
                <div>12th</div>
            </div>
            <div>
                <div class="free-materials">Free Materials</div>
                <div class="paid-materials">Paid Materials</div>
            </div>
        </div>
        <div id="sidebar" class="sidebar">
            <ul>
                <a href="">
                    <li>Profile</li>
                </a>
                <a href="">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Class 10th</li>
                </a>
                <a href="">
                    <li>Class 9th</li>
                </a>
                <a href="">
                    <li>Class 12th</li>
                </a>
                <a href="">
                    <li>Social handle</li>
                </a>
                <a href="">
                    <li>Support</li>
                </a>
                <a href="">
                    <li>PDFs</li>
                </a>
                <a href="">
                    <li>Purchased</li>
                </a>
        </div>
    </main>
    <footer>

        <div class="credits">
            <strong>Founder: Neeraj Srivastava</strong><br>
            <strong>Developed by <a href=""><em>Aadarsh Aaryan</em></a></strong>
        </div>

        <p>Contact the developer</p>

        <div class="social">
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
            <a href="#"><ion-icon name="logo-github"></ion-icon></a>
        </div>

        <p><a href="">Terms & Conditions</a></p>
        <p>© 2026 Neeraj Srivastava. All rights reserved.</p>

    </footer>

    <script src="{{ url_for('static', filename='css_and_js/script.js') }}"></script>
</body>

</html>